body {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    background-color: lightcoral;
    height: 4160px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, .blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
}

header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 100%;
}

.header__logo-image {
    width: 78.45px;
    height: 15.43px;
    flex: none;
    flex-grow: 0;
}

.header__menu-list {
    list-style: none;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75px;
    height: 84px;
    padding: 0;
    gap: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F5F5F5;
}

.header__menu-item {
    border-bottom: 1px solid currentColor;
}

a { 
    text-decoration: none;
    color: #F5F5F5;
}

.header__menu-item_active {
    border-style: none;
}

.cover {
    display: flex;
    background-image: url(../images/cover.svg);
    background-repeat:no-repeat;
    background-size: 95% auto;
    background-position: right;
    margin: auto;
    padding: 7px 0 30px 20px;
    min-height: 221px;
}

.accent-span {
    display: block;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    width: 52px;
    height: 72px;
    left: 20px;
    top: 139px;
}

.text-center {
    width: 226px;
    left: 67px;
    top: 211px;
    margin: auto;
    padding-left: 46px;
}

.text-right {
    padding-left: 154px;
}

.content-section_theme_dark {
    background-color: black;
    color: #F5F5F5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 37px;
    gap: 24px;
    width: 360px;
    left: 20px;
    top: 390px;
}

.intro__heading {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 320px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #CCCCCC;
}

.intro__title {
    width: 203px;
    height: 38px;
    font-weight: 400;
}

.intro__date {
    white-space: nowrap;
    width: 101px;
    height: 19px;
    }

.intro__main-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
    height: auto;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 20px;
    color: #131313;
}

.content-section__subtitle {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 63px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    white-space: nowrap;
}

.content-section__introduction {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 20px;
    width: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
}

.content-section__list-item {
    gap: 10px;
    margin-right: 20px;
}

.content-section__list-accent {
    font-weight: bold;
}

.how-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px 20px;
    width: 360px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 319px;
    height: 1486px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
    border-radius: 30px;
}

.card__author {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 279px;
}

.card__title {
    width: 228px;
    height: 29px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #F5F5F5;
}

.card__text {
    width: 279px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
}

.card_theme_dark {
    background: #343434;
}

.card_theme_bright {
    background: #FEE42A;
}

.card_text-only {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
}

.card_text-only .card__title {
    width: 279px;
    height: 59px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
    line-height: 30px;
    color: #131313;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card_text-only .card__text {
    width: 279px;
    height: 261px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    padding: 20px;
    border-top: 1px solid #FEE42A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
}

.footer__copy {
    width: 92px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0;
    gap: 16px;
    width: 73px;
    height: 18px;
}